QWidget {
    background-color: rgb(42, 42, 42);
    color: rgb(170, 170, 170);
}

/* Top menu. */

QMenuBar {
    background-color: rgb(42, 42, 42);
}

QMenu::item:selected {
    background-color: rgb(64, 64, 64);
}


/* Test. */
QScrollArea {
    background-color: rgb(200, 20, 20);
}



QMainWindow {
    background-color: rgb(42, 42, 42);
    border-style: outset;
    border-width: 0;
}

QGraphicsView {
    background-color: rgb(35, 35, 35);
    border-style: outset;
    border-width: 0;
}

QGraphicsPixmapItem {
    background-color: rgb(10, 10, 10);
    border-style: outset;
    border-width: 0;
}

QListView, QTextEdit {
    background-color: rgb(42, 42, 42);
    border-style: outset;
    border-width: 0;
}

QLineEdit {
    background-color: rgb(35, 35, 35);
    /*border-style: outset;*/
    border-width: 1px;
}

QLineEdit:hover {
    background-color: rgb(42, 42, 42);
    /*border-style: outset;*/
    border-width: 1px;
}

QStatusBar {
    background-color: rgb(20, 20, 20);
}



/*** QPushButton. ***/


QPushButton {
    background-color: rgb(42, 42, 42);
    border: 2px solid rgb(69, 69, 69);
    border-radius: 10px;
    padding: 3px 20px 3px 20px;
}

QPushButton:hover {
    background-color: rgb(64, 64, 64);
}

QPushButton:pressed {
    background-color: rgb(85, 85, 85);
}



/*** QToolButton. ***/


QToolButton {
    background-color: rgb(42, 42, 42);
    border-style: outset;
    border-width: 0;
}

QToolButton:hover {
    background-color: rgb(69, 69, 69);
    border-style: outset;
    border-width: 0;
}

QToolButton:pressed {
    background-color: rgb(85, 85, 85);
    border-style: outset;
    border-width: 0;
}


/*** QSplitter. ***/


QSplitter::handle {
    background-color: rgb(20, 20, 20);
}

QSplitter::handle:horizontal {
    width: 5px;
}

QSplitter::handle:vertical {
    height: 5px;
}


/*** Scrollbars. ***/


QScrollBar:horizontal {
    background: rgb(42, 42, 42);
    height: 20px;
}

QScrollBar:vertical {
    background: rgb(42, 42, 42);
    width: 20px;
}


QScrollBar::handle:horizontal, QScrollBar::handle:vertical {
    background: rgb(59, 59, 59);
    margin: 0 0 0 0;
}

QScrollBar::handle:horizontal:hover, QScrollBar::handle:vertical:hover {
    background: rgb(69, 69, 69);
}


/* This is the background color at the left and at the right of the handle. */
QScrollBar::add-page:horizontal, QScrollBar::sub-page:horizontal, QScrollBar::add-page:vertical, QScrollBar::sub-page:vertical {
    background: none;
}

QScrollBar:left-arrow:horizontal, QScrollBar::right-arrow:horizontal, QScrollBar:left-arrow:vertical, QScrollBar::right-arrow:vertical {
    border-width: 0;
    border-style: outset;
    width: 5px;
    height: 5px;
    background: rgb(42, 42, 42);
}

/* Hide the scrollbar buttons. */
QScrollBar::add-line:horizontal, QScrollBar::add-line:vertical {
    border: none;
    background: none;
}

QScrollBar::sub-line:horizontal, QScrollBar::sub-line:vertical {
    border: none;
    background: none;
}